.vscode/**
.vscode-test/**
node_modules/**
src/**
out/test/**
.gitignore
*.vsix
**/*.map
**/tsconfig.json
**/.eslintrc.json
**/webpack.config.js
**/.vscode-test.mjs
**/.vscode-test-web.mjs
**/jest.config.js
CHANGELOG.md
vsc-extension-quickstart.md
